.card {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
    &:hover {
        cursor: pointer;
        scale: 1.1;
        z-index: 2;
    }
}