.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    &__input {
        width: 100%;
        padding: 17px 40px 17px 20px;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        outline: none;
    }

    &__icon {
        position: absolute;
        right: 10px; 
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 15px;
    }
}